.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 2rem;
}

.App p {
  margin: 0;
}

.blur-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 !important;
}

.shop-now {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  transition: transform 0.3s ease;
}

.shop-now-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.yazo-link {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.yazo-link:hover {
  transform: scale(1.1);
}

.yazo-text {
  color: #2c5234 !important;
  font-weight: 500;
  padding-inline: 0.5rem;
  transition: color 0.3s ease, padding-inline 0.5s ease;
}

.yazo-text:hover {
  color: #1f3d26 !important;
  padding-inline: 1rem;
}

.yazo-text:hover {
  transform: scale(1.05);
}
.text-pressure {
  opacity: 0;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-in-out forwards;
}

.circular-gallery-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
  animation: fadeIn 2s ease-in-out forwards;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  animation: fadeIn 2s ease-in-out forwards;
}

.social-buttons button {
  padding: 0;
}

@media (max-width: 1024px) {
  .shop-now {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .text-pressure h1 {
    font-size: 2rem !important;
    font-weight: 900 !important;
  }

  .circular-gallery-container {
    height: 500px;
  }

  .shop-now {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .shop-now {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
